// app global css in SCSS form
.white-text {
  color: white;
}

.black-text {
  color: black;
}

.default-card-color-ligth {
  background-color: #182634;
}

.default-card-color-dark {
  background-color: #000000;
}

.dark-theme {
  background-color: #262c30;
}

.ligth-theme {
  background-color: #314B68;
}
