// app global css in SCSS form
.q-card-color-primary-dark-card {
  background-color: #080808;
}

.q-card-color-secondary-dark-card {
  background-color: #2e464d;
}

.q-card-color-primary-light-card {
background: #003449f8;
  color: white;
}

.q-card-color-secondary-light-card {
  background-color: #caeaf5;
  color: black;
}
